/* Variables Start */
:root {
  /* Colors */
  --light-orange: #ff9b62;
  --orange: #f16718;
  --light-blue: #7b8bad;
  --dark-blue: #162542;
  --light-grey: #e8eff2;
  --white: #fff;

  /* Typography */
  --fs-xxl: 5.6rem;
  --fs-xl: 3.2rem;
  --fs-l: 2.4rem;
  --fs-m: 1.8rem;
  --fs-s: 1.6rem;
  --fs-xs: 1.4rem;

  /* Font Family */
  --main-ff: 'Barlow', sans-serif;

  /* Line Height */
  --lh-xl: 5.6rem;
  --lh-l: 3.6rem;
  --lh-m: 2.8rem;
  --lh-s: 2.6rem;

  /* Font Weight */
  --fw-medium: 500;
  --fw-large: 700;
  --fw-black: 900;
}
/* Variables End */

/* Helper Classes */
.container-mobile {
  padding-inline: 2.4rem;
  margin-inline: auto;
}

.container-tablet {
  padding-inline: 3.9rem;
  margin-inline: auto;
}

.container-desktop {
  margin-inline: auto;
  max-width: 111rem;
}

/* Headings */
.h1 {
  font-family: var(--main-ff);
  text-transform: uppercase;
  font-size: var(--fs-xxl);
  font-weight: var(--fw-black);
  line-height: var(--lh-xl);
  color: var(--dark-blue);
  margin: 0;
}

.h2 {
  font-family: var(--main-ff);
  text-transform: uppercase;
  font-size: var(--fs-xl);
  font-weight: var(--fw-black);
  line-height: var(--lh-l);
  color: var(--dark-blue);
  margin: 0;
}

.h3 {
  font-family: var(--main-ff);
  text-transform: uppercase;
  font-size: var(--fs-l);
  font-weight: var(--fw-black);
  line-height: var(--lh-m);
  color: var(--dark-blue);
  margin: 0;
}

/* Body Sizes */
.body-s {
  font-family: var(--main-ff);
  font-size: var(--fs-s);
  font-weight: var(--fw-medium);
  line-height: var(--lh-s);
  color: var(--light-blue);
}

.body-m {
  font-family: var(--main-ff);
  font-size: var(--fs-m);
  font-weight: var(--fw-medium);
  line-height: var(--lh-s);
  color: var(--light-blue);
}

.strong-text {
  font-family: var(--main-ff);
  font-size: var(--fs-m);
  font-weight: var(--fw-large);
  line-height: var(--lh-s);
  color: var(--light-blue);
  transition: all 0.3s ease;
  cursor: pointer;
}

.strong-text:hover {
  color: var(--dark-blue);
}

.special {
  font-weight: var(--fw-large);
  color: var(--light-blue);
  font-size: var(--fs-s);
}

/* Buttons */
.btn {
  width: 15.1rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: var(--fs-xs);
  font-weight: var(--fw-large);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Orange Btn */
.btn-orange {
  background-color: var(--orange);
  color: var(--white);
}
/* Hover Orange Btn */
.btn-orange:hover {
  background-color: var(--light-orange);
  color: var(--white);
}
/* Grey Btn */
.btn-grey {
  background-color: var(--light-grey);
  color: var(--dark-blue);
}
/* Hover Grey Btn */
.btn-grey:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

/* Reset Start*/
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--main-ff);
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}
/* Reset End*/

/* Main file style Start */
body {
  font-family: var(--main-ff);
  font-size: 1.6rem;
}
/* Main file style End */

/* Navigation Start */
.navigation {
  width: 100%;
  padding-block: 2.3rem;
}

.navigation > .container-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Navigation End */

/* Header Section Start */
.header-info-section {
  padding-block: 5rem 3.9rem;
  /* background-color: rebeccapurple; */
}

.h1 {
  font-size: 4.8rem;
  margin-bottom: 3.5rem;
  padding-inline: 2.4rem;
}

.header .header-info-section .sub-heading {
  margin-bottom: 3.9rem;
  padding-inline: 2.4rem;
  text-align: left;
}

.header-buttons {
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
  padding-inline: 2.4rem;
}

.header-image-section {
  padding-left: 2.4rem;
  margin-bottom: 2rem;
}

.img-box {
  margin-top: 2.5rem;
  background-image: url(../assets/mobile/image-keyboard.jpg);
  height: 33.1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
}
/* Header Section End */

/* Section Image Start */
.section-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2.4rem;
  height: 19.3rem;
  overflow: hidden;
}

.image1 {
  background-color: var(--orange);
  background-image: url(../assets/mobile/image-phone-and-keyboard.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  width: 12.9rem;
  height: 19.3rem;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 2rem;
  position: relative;
  left: -2.2rem;
}

.image2 {
  background-image: url(../assets/mobile/image-glass-and-keyboard.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  width: 22rem;
  height: 19.3rem;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 2rem;
}
/* Section Image End */

/* Info Section Start */
.section-info {
  padding-block: 8.2rem;
}
.h2 {
  text-align: center;
  padding-inline: 2rem;
  margin-bottom: 3.7rem;
}

.body-s {
  text-align: center;
}
/* Info Section End */

/* Features Section Start */
.features-section {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 3.6rem;
  background-color: var(--white);
  flex-direction: column;
}

.card::before {
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  background-color: var(--orange);
  margin-bottom: 5.5rem;
}

.card1::before {
  content: url(../assets/shared/icon-compatible.svg);
}
.card2::before {
  content: url(../assets/shared/icon-bluetooth.svg);
}
.card3::before {
  content: url(../assets/shared/icon-battery.svg);
}
.card4::before {
  content: url(../assets/shared/icon-light.svg);
}

.card > .h3 {
  text-align: center;
  margin-bottom: 3.6rem;
}
/* Features Section End */

/* Section Footer Start */
.section-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 4.7rem;
}
/* Section Footer End */

/* TODO | Media Query For Tablet | Start */
@media screen and (min-width: 768px) {
  .navigation {
    padding-block: 4rem;
  }
  .container-mobile {
    padding-inline: 3.9rem;
  }
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2.2rem;
    height: 44.8rem;
    margin-bottom: 4rem;
  }
  .header-info-section {
    height: 42.5rem;
    padding-left: 3.9rem;
  }
  .header-info-section .h1 {
    padding: 0;
  }
  .header-info-section p.body-s {
    text-align: left;
    padding: 0;
    padding-right: 1rem;
  }
  .header-image-section {
    height: 42.5rem;
    padding-left: 6rem;
  }
  .header-image-section {
    margin-bottom: 2rem;
  }

  .img-box {
    margin: 0;
    height: 100%;
    background-position: left top;
  }
  .header-buttons {
    padding: 0;
  }
  .section-images {
    height: 32rem;
    padding-inline: 3.9rem;
  }
  .image1 {
    height: 100%;
    position: static;
    width: 21.4rem;
    background-size: 150%;
  }
  .image2 {
    width: 44.5rem;
    height: 100%;
    background-position: 0 -20px;
  }
  .section-info {
    padding-block: 8rem;
    margin-bottom: 6.1rem;
  }
  .info-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 0;
    width: 100%;
    gap: 6rem;
  }
  .info-header .h2 {
    padding: 0;
    text-align: left;
    margin: 0;
  }
  .info-header .body-s {
    text-align: left;
    font-size: var(--fs-m);
  }
  .feature-section > .container-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    gap: 7.9rem 6.9rem;
    margin-bottom: 9.9rem;
  }
  .card::before {
    margin-bottom: 4.5rem;
  }
  .card {
    align-items: flex-start;
    padding: 0;
  }
  .card > .h3 {
    text-align: left;
  }
  .card > .body-s {
    text-align: left;
  }
  .section-footer {
    padding: 5rem;
  }
}
/* TODO | Media Query For Tablet | End */

/* TODO | Media Query For Desktop | Start */
@media screen and (min-width: 1440px) {
  .container-mobile {
    max-width: 1110px;
    padding: 0;
  }

  .navigation {
    padding-block: 5.5rem;
  }

  .btn {
    width: 17.5rem;
    height: 5.8rem;
  }
  .header {
    max-width: 1110px;
    margin-inline: auto;
    height: 48rem;
  }
  .header-info-section {
    padding: 0;
    padding-top: 6.9rem;
  }
  .h1 {
    font-size: var(--fs-xxl);
  }
  .header .header-info-section .sub-heading {
    padding-inline: 0;
    max-width: 80%;
    font-size: var(--fs-m);
  }
  .img-box {
    border-radius: 1.5rem;
    width: 54rem;
  }
  .header::after {
    content: '';
    width: 13.5rem;
    height: 24rem;
    background-color: var(--light-grey);
    position: absolute;
    right: 0;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }
  .header-image-section {
    width: 54rem;
    height: 48rem;
    margin-bottom: 3rem;
    overflow: hidden;
    padding: 0;
  }
  .section-images {
    max-width: 1110px;
    margin-inline: auto;
    padding: 0;
    height: 48rem;
    justify-content: flex-start;
    gap: 0 2.9rem;
  }
  .image1 {
    width: 25.5rem;
    height: 100%;
  }
  .image2 {
    width: 44.5rem;
    height: 100%;
    background-position: 100%;
    display: block;
  }
  .feature-section .container-mobile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:3rem;
  }
}
/* TODO | Media Query For Desktop | End */
